@model WuzzyBears.Models.WuzzyBear

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>WuzzyBear</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeddySerialNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeddySerialNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypeOfTeddy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeOfTeddy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaterialOfTeddy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaterialOfTeddy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Manufactured)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Manufactured)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SizeOfTeddy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SizeOfTeddy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CostOfTeddy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CostOfTeddy)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
