@model WuzzyBears.Models.WuzzyBear

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>WuzzyBear</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeddySerialNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeddySerialNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypeOfTeddy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeOfTeddy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaterialOfTeddy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaterialOfTeddy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Manufactured)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Manufactured)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SizeOfTeddy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SizeOfTeddy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CostOfTeddy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CostOfTeddy)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
